.qv-object-ImagesTableTest div.qv-object-content-container {
	overflow: auto;
}
.qv-object-ImagesTableTest td{
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-left: 2px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
	text-align: center;
	image-orientation: center;
	
}
.qv-object-ImagesTableTest th {
	font-size: 15px;
	color: white;
	background-color: grey;
	width: 50%;
	text-align: center;
}
.qv-object-ImagesTableTest td.numeric {
	text-align: right;
}
.qv-object-ImagesTableTest button {
	width: 100%;
}


